#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button, a {
    -webkit-transition: color 0.5s !important;
    -moz-transition: color 0.5s !important;
    -ms-transition: color 0.5s !important;
    -o-transition: color 0.5s !important;
    transition: color 0.5s !important;
}

.float-right-bottom {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 25px;
    right: 25px;
    background: none;
    color: orange;
    border-radius: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid orange !important;
}

.float-right-bottom:hover {
    background-color: orange;
    color: black;
}